$bezier: cubic-bezier(.21,.98,.6,.99);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 25em;
    border-radius: 5px;
    background-color: #e56262;
    border-radius: 1em;
}

.big-circle {
    position: absolute;
    z-index: 1;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

    animation-fill-mode: both;
	animation: bigcircle 2s $bezier infinite alternate;
}

.middle-circle {
    position: absolute;
    z-index: 2;
    width: 5em;
    height: 5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

    animation-fill-mode: both;
	animation: midcircle 2s $bezier infinite alternate;
}

.small-circle {
    position: absolute;
    z-index: 3;
    width: 3em;
    height: 3em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

    animation-fill-mode: both;
	animation: smcircle 2s $bezier infinite alternate;
}

@keyframes smcircle {
    0% { transform: scale(0) } 
    70% { transform: scale(0) }

    100% { transform: scale(1) }
}

@keyframes midcircle {
    0% { transform: scale(0) }
    40% { transform: scale(0) }

    100% { transform: scale(1) }
}

@keyframes bigcircle {
    0% { transform: scale(0) } 
    10% { transform: scale(0) }

    100% { transform: scale(1) }
}